.nav {
    display: flex;
    justify-content: center;
    align-items: center;


}

.nav__wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    opacity: 0;

}

.nav__wrapper__logo svg {
    height: 8rem;
    width: 8rem;
    fill: #000;
}

.nav__wrapper__items {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    list-style: none;
}

.nav__wrapper__item {

    padding: 1.5rem 3rem;
    position: relative;
}

.nav__wrapper__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: .3rem;
    background-color: var(--grey);
    transform: scaleY(0);
    transition: transform .4s, width .5s cubic-bezier(1, 0, 0, 1) .2s, background-color .2s;
}

.nav__wrapper__item:hover::before {
    width: 100%;
    transform: scaleY(1);
}



.nav__wrapper__link {
    text-decoration: none;
    font-size: 2.5rem;
    letter-spacing: .8rem;
    color: #000;
    font-weight: 700;
}

.nav__wrapper__item:hover a {
    color: var(--smoke);
    z-index: 7;
    position: relative;
}